.wrapper{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    padding: 12px;
    border: 20px solid green;
    margin: 20px;
}
.content{
    background-color: brown;
}
.name{
    color: aquamarine;
    background-color: black;
    width: 50px;
    display: inline-block;
}